body{
  font-family: 'Montserrat', sans-serif;
  background-color: #ebeef2;
}
.table-container {
  border-radius: 5px;
  background-color: white;
  padding: 30px;
}
.buttons {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 15px;
}
table tbody tr:last-child {
  border-bottom: none;
}
td, th {
  text-align: left;
  padding: 0.2rem;
}
tr {
  border-bottom: 1pt solid #e2e2e2;
}
table {
  border-collapse: collapse;
  width: 100%;
}
thead tr {
  font-size:15px;
  font-weight: 600;
}
.btn {
  background-color: #2375e2;
  padding: 14px;
  border-radius: 5px;
  color: white;
  border: none;
  font-size: 0.75rem;
  margin-left: 15px;
}
.btn:hover{
  background-color: #2375e2a8;
}
.rigth {
  float: right;
}
.status {
  width: 70px;
  height: 25px;
  display: block;
  border-radius: 16px;
  color: white;
  font-size: 0.7rem;
  padding: 3px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inactive {
  background: #d14d4d;
}
.active {
  background: #48b97d;
}
.control{
  color: #0000007d;
}
td .control:first-child {
  margin-right:30px;
}
/* NEW EMPLOYEE STYLES */
.form{
  display: grid;
}
.form .itemGroup label{
  display: block;
  font-size: 0.7rem;
  font-weight: 500;
}
.form .itemGroup{
  padding:10px;
}
.form .full{
  grid-column-start: 1;
  grid-column-end: 3;
}
.form input[type=text]{
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #84848452;
  outline:0;
  padding: 6px;
}
.hidden{
  display: none;
}
.visible{
  top: 0;
  display: block;
  position: absolute;
  background-color: #ebeef2;
  width: 100%;
  height: 100%;
}
/* DELETE */
.tryDelete {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.question-icon {
  color: #d14d4d;
  font-size: 55px;
  margin-right: 10px;
}
.btn-link {
  background-color: transparent;
  border:none;
  color: #317de4;
}
.btn-danger {
  background-color: #d14d4d;
}
.btn-danger:hover{
  background-color: #862d2d;
}
.question {
  background-color: white;
  padding: 20px;
  border-radius: 13px;
  width: 273px;
}
.question-title {
  display: flex;
  align-items: center;
}
